  body {
    background-color: white;
    margin: 5rem;
}

/* grid layout for image and lists */

.grid-container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
   
  }

.responsive {
    max-width: 100%;
    height: auto;
  }

/*
#feature {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}
 for html code: id="feature"
*/

h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 3.75em;
    /* or 94% */
    color: #000000;
}

h2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 3em;
    /* or 141% */
    color: #000000;
}

h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 200;
    font-size: 2.25em;
    
    /* or 188% */
    color: #860B0B;
}

h4 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 100;
    font-size: 1.5em;
    /* or 225% */
    color: #000000;
}

h5 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    font-weight: bold;
    /* or 225% */
    color: #000000;
}

p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    /* or 281% */
    color: #000000;
}

ul, ol {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    /* or 281% */
    color: #000000;

}

/* unvisited link */
.job1:link {
    color: #860B0B;
    text-decoration: underline;
  }
  
  /* visited link */
.job1:visited {
    text-decoration: underline;
    color: #B3B3B3;
  }
  
  /* mouse over link */
.job1:hover {
    color: #B3B3B3;
    text-decoration: none;
  }
  
  /* selected link */
.job1:active {
    color: #860B0B;
    text-decoration: none;
  }

.button1 {
    background-color: #860B0B;
    border-radius: 15px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 20px;
    padding: 15px 15px 15px 15px;
/* or 562% */

    align-items: center;
    text-align: center;

    color: #FFFFFF;
    text-decoration: none;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: #F3D9D9;
    color: #860B0B;
    text-decoration: none;
}

.button1:visited {
    background-color: #F3D9D9;
    color: #860B0B;
    text-decoration: underline;
}

/*------------------------ 
 margin: 0 auto;
        padding: 0 20px;
        max-width: 980px;
*/

@media (max-width:1000px) {
.grid-container {
    grid-template-columns: 1fr 1fr;
    gap:10px;
    }
.container_2{
    display: grid;
}
}


@media (max-width: 620px) { 
body{
color: blue;
    }

.grid-container {
    grid-template-columns: 1fr;
    gap:20px;
    }

}

@media (max-width: 420px) { 
    body{
    color: red;
        }
    
    .grid-container {
        grid-template-columns: 1fr;
        gap:20px;
        }

    h1 {
        text-align: center
    }
    
    h2 {
        text-align: center
    }
    
    h3 {
        text-align: center
    }
    
    h4 {
        text-align: center
    }
    
    h5 {
        text-align: center
    }
    
    p {
        text-align: center
    }
    
        
    }

