html {
    margin:0;
}
  body {
    background-color: white;
    margin: 0;
    margin-bottom: 25px;
}

/* grid layout for image and lists */

.logo {
    font-size: 200%;
    margin: 0 auto;
    color: #F3D9D9; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    
  }

nav {
    background-color: #000;
    padding: .5em;
    position: sticky; 
    top:0;
    height: 40px;
    z-index: 1;
  }
  
  nav ul {
    margin: 0;
    padding: 10px 20px 20px 20px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    float:right;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }

  nav a:hover, nav a:active {
    background-color: #860B0B;
    border-radius: 20px;
  }

.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
  }

.grid-container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
   
  }

.title{
    font-style: italic;
    text-align: left;
}

/* attempt using class for border */
.about {
    background-color: #860B0B;
    border-style: inset;
    border-radius: 20px;
}
.about h6 {
    color: #FFFFFF;
    margin: 20px;
}
.about p {
    color: #FFFFFF;
    margin: 20px;
}

.resource {
    text-align: center;
}

/*___________*/

.container_2 {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.container_3 {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.container_4 {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.responsive {
    max-width: 100%;
    height: auto;
  }

video {
    max-width: 95%;
    z-index: 0;
}  

.audio_container {
    text-align: center;
}

.audio_container h6 {
    margin-top: 0;
}

.about_audio {
    background-color: #F3D9D9;
    border-style: inset;
    border-radius: 20px;
}

audio {
    max-width: 80%;
}

.photo_container {
    text-align: center;
}

.about_photo {
    background-color: #D9D9D9;
    border-style: inset;
    border-radius: 20px;
}

.pg4_about {
    text-align: center;
}

h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 3.75em;
    /* or 94% */
    color: #000000;
}

h2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 3em;
    /* or 141% */
    color: #000000;
}

h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 200;
    font-size: 2.25em;
    
    /* or 188% */
    color: #860B0B;
}

h4 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 100;
    font-size: 1.5em;
    /* or 225% */
    color: #000000;
}

h5 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    font-weight: bold;
    /* or 225% */
    color: #000000;
}

h6 {
    font-family: 'Arial';
    font-style: normal;
    font-size: 1.05em;
    font-weight: 300;
    /* or 225% */
    color: #860B0B;
}


p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    /* or 281% */
    color: #000000;
}


ul, ol {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    /* or 281% */
    color: #000000;

}

/* unvisited link */
.job1:link {
    color: #860B0B;
    text-decoration: underline;
  }
  
  /* visited link */
.job1:visited {
    text-decoration: underline;
    color: #B3B3B3;
  }
  
  /* mouse over link */
.job1:hover {
    color: #B3B3B3;
    text-decoration: none;
  }
  
  /* selected link */
.job1:active {
    color: #860B0B;
    text-decoration: none;
  }

.button1 {
    background-color: #860B0B;
    border-radius: 15px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 20px;
    padding: 15px 15px 15px 15px;
/* or 562% */

    align-items: center;
    text-align: center;

    color: #FFFFFF;
    text-decoration: none;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: #F3D9D9;
    color: #860B0B;
    text-decoration: none;
}

.button1:visited {
    background-color: #F3D9D9;
    color: #860B0B;
    text-decoration: underline;
}

/*silly story*/

body.sillystory{
    text-align: center;
    margin-left:10px;
    margin-top: 10px;
    background-color: #F3D9D9;
}

p.story {
    background-color: #B3B3B3;
}

/*------------------------ 
 margin: 0 auto;
        padding: 0 20px;
        max-width: 980px;
*/

@media (max-width:1000px) {
.grid-container {
    grid-template-columns: 1fr 1fr;
    gap:10px;
    }
.container_2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    }
}
@media (max-width:830px) {
    .container_2{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 620px) { 
    body{
        color: red;
            }
        
        .grid-container {
            grid-template-columns: 1fr;
            gap:20px;
            place-items: center;
            }

        .container_3 {
            grid-template-columns: 1fr;
            place-items: center;
        }

        .container_4 {
            grid-template-columns: 1fr;
            place-items: center;

        }

        .bottom {
            text-align: center;
        }

        .project {
            text-align: right;
        }      
    
        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 3.25em;
        }
        
        h2 {
            text-align: center;
            font-weight: 600;
            font-size: 2.50em;
        }
        
        h3 {
            text-align: center;
            font-weight: 400;
            font-size: 1.75em;
        
        }
        
        h4 {
            text-align: center;
            font-weight: 300;
            font-size: 1.5rem;
        }
        
        h5 {
            text-align: center;
        }
        
        p {
            text-align: center;
            font-size: .80rem;
        }
        

}


